*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 100px;
    display: flex;
    
}
.li2{
    color: orange;
}
.logo{
    display: flex;
    align-items: center;
    width: 246px;
 }
 .li1{
    font-family: 'Permanent Marker', cursive;
    font-family: 'Shadows Into Light', cursive;
}
ul{
    display: flex;
    align-items: center;
    gap: 77px;
    position: absolute;
    width: 738px;
    height: 80px;
    right: 45px;
    list-style: none;
}
.baniere1{ 
    background-image: url(v1_42.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.titre{
    display: grid;
    justify-content: center;
    justify-items: center;

}
.title{ 
    color: aliceblue;
}
.info{
    margin: 7% 0 3% 14%;
}
.inputt{
    height: 40px;
    width: 320px;
    border-radius: 4px;
    border-color: #80808096;
}
.inn{
    display: flex;
    justify-content: space-around;
}
.infoo{
    display: flex;
    flex-direction: column;
}
.inname{
    display: flex;
    flex-direction: column;
}
.up{
    white-space: break-spaces;    
}
.down{
    white-space: break-spaces;
}
.hrr{
    color: black;
    margin: 30px 250px 30px 250px;
}
.pizz{
    color: orange;
}
.middle{
    display: flex;
    justify-content: space-between;
    margin: 7% 3% 3% 14%;
}
.supp{
    margin-left: 14%;
}
.derouler{
    height: 40px;
    width: 320px;
    border-radius: 4px;
    border-color: #80808096;
}
.dero{
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    margin-left: 14%;
}
.container{
    display: flex;
}
.choice{
    display: flex;
}
.checkbox{
    margin-left: 14%;
    white-space: break-spaces;
}
.box{
    margin-left: 14px;
    display: flex;
    justify-content: space-around;
}
.drink{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    align-items: center;
}
.boisson{
    white-space: break-spaces;
    display: flex;
    flex-direction: column;
}
.dessert{
    white-space: break-spaces;
    display: flex;
    flex-direction: column;
}
.livraison{
    margin: 7% 3% 3% 14%;
}
.colonne{
    white-space: break-spaces;
}
.colonnee{
    white-space: break-spaces;
}
.boxx{
    margin-left: 14px;
    display: flex;
    justify-content: space-around;
}
.btn{
    border-radius: 30px;
    color: white;
    background-color: orange;
    padding: 20px;
    width: 150px;
}
.bttn{
    display: flex;
    justify-content: flex-end;
}
.img{
    margin-top: 15px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}